* {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
    text-align: center;
    background-color: rgb(87, 221, 98);
    font-weight: bold;
}

header p {
    text-align: center;
}

#photo {
    width: 8vw;
    height: auto;
}

.subtitle {
    color: rgba(10, 228, 57, 0.89);
    text-transform: uppercase;
}

footer p {
    text-align: right;
    font-style: italic;
}

nav > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

section > form {
    display: grid;
    grid-template-columns: auto 1fr;
    row-gap: 1rem;
    column-gap: 1rem;
    align-items: center;
}

section > form label {
    justify-self: end;
}

section > form input,
section > form select {
    width: 30%;
}

section > form p {
    display: none;
}

section > form fieldset {
    grid-column: 1 / -1;
}

section > form button {
    grid-column: 2;
    justify-self: start;
}

section {
    border: 0.2pt solid #cedddd;
    margin: 4px 2px 8px;
    padding: 1.5% 0.8%;
    margin-bottom: 1.2rem;
    border-radius: 5px;
    box-shadow: -45px 42px 26px -14px rgba(0,0,0,0.1);
}

.map-container iframe {
    width: 100%;
    min-height: 350px;
    border: none;
}

#referencias {

     /* Activa el modelo Flexbox */
     display: flex;

     /* Permite que los hijos pasen a la siguiente línea si no caben */
     flex-wrap: wrap;

     /* Espaciado uniforme entre filas y columnas */
     gap: 1rem;

}

#referencias > h2 {

     /* Hace que el subtítulo ocupe el 100% del ancho del contenedor */
     flex: 0 0 100%;

}

#referencias > article {

     /* Distribuye equitativamente los artículos en tres columnas */
     flex: 1 1 calc(33.333% - 1rem);

}